################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gitHubTestProject3/FileContentIndex
/.vs/TestProject/FileContentIndex
